/* шрифт  */
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
}

.hdr {
  background: #fff;
}

.hdr-lg {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-lg {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.naviget-link {
  text-decoration: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.naviget-link:hover,
.naviget-link:focus {
  color: #404bbf;
}

.addr-s-link {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.addr-s-link:hover {
  color: #404bbf;
}
.addr-s-link:focus {
  color: #404bbf;
}

.addr-s {
  font-style: normal;
}

.top-block {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}

.h-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.top-btn {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.top-btn:hover {
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
  cursor: pointer;
}

/* a {
  text-decoration: none;
} */
.ftr {
  background: #2e2f42;
}

.ftr-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.text-lg-t {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
