/* шрифт  */
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
}

.hdr {
  background: #fff;
  width: 1440px;
  height: 200;
}

.text-logo {
  font-family: 'Raleway' sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 156px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.hdr-logo {
  width: 115px;
  height: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.hdr-nav {
  margin-left: 347px;
  margin-right: 832px;
  margin-top: 24px;
}

.naviget-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.naviget-link:hover {
  color: #404bbf;
}
.naviget-link-contact {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.naviget-link-contact:hover {
  color: #404bbf;
}
.naviget-link-contact:focus {
  text-decoration: underline;
  color: #2e2f42;
}
.naviget-link-contact:active {
  text-decoration: underline;
  color: #404bbf;
}
.addr-s-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.addr-s-link:hover {
  color: #404bbf;
}

.addr-s {
  margin-left: 940px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.top-block {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}

.h-one {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  height: 120px;
  padding-top: 188px;
  padding-left: 472px;
  padding-right: 472px;
  padding-bottom: 48px;
}

.description {
  padding: auto;
}

.top-btn {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 636px;
  margin-right: 635px;
  margin-bottom: 188px;
  cursor: pointer;
}
.top-btn:hover {
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
  cursor: pointer;
}
p {
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
}

/* a {
  text-decoration: none;
} */
